[Unit]
Description=Waybar status bar
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=always
RestartSec=1

[Install]
WantedBy=hyprland-session.target
